<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1082132026553-jl0js25bn6cuo9jd0i4uipjllsh7muc7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1082132026553-jl0js25bn6cuo9jd0i4uipjllsh7muc7</string>
	<key>API_KEY</key>
	<string>AIzaSyDaOlfbZKJtGwaWm9uAT2eQqeCBHJFKjCo</string>
	<key>GCM_SENDER_ID</key>
	<string>1082132026553</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.medicoIbhavan</string>
	<key>PROJECT_ID</key>
	<string>medico-ibhavan</string>
	<key>STORAGE_BUCKET</key>
	<string>medico-ibhavan.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1082132026553:ios:150c5e843ce2c28ff4f768</string>
</dict>
</plist>